{#login/templates/login/login.html#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>欢迎使用岩妈妈最爱的Django网页！</h1>
       <form action=" " method="post">

            <p>
                <label for="sentence">待分析句子：</label>
                <input type="text" id="sentence" name="sentence" placeholder="待分析句子" autofocus required />
            </p>

            <input type="submit" value="确定">
        </form>
    </div>



</body>
</html>